.project {
  grid-column: main-start / main-end;
  grid-row: 2 / span 2;
  background-color: $color-white;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 5rem 5rem 0 5rem;

  @media screen and (max-width: $bp-large) {
    padding: 3.5rem;
    padding-bottom: 0;
  }

  @media screen and (max-width: $bp-small) {
    padding: 4rem 6rem;
    padding-bottom: 0;

    grid-column: nav-start / main-end;
    margin-left: 2rem;
  }
  @media screen and (max-width: $bp-smaller) {
    padding: 3rem;
    padding-bottom: 0;
  }
  @media screen and (max-width: $bp-smallest) {
    grid-column: nav-start / aside-end;
    margin-left: 0;
    margin: 0 1rem 0 1rem;
  }
  @media screen and (max-width: $bp-tiny) {
    margin: 0 1rem 0 1rem;
  }

  //Project Header Part
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    @media screen and (max-width: $bp-large) {
      margin-bottom: 3.5rem;
    }

    @media screen and (max-width: $bp-small) {
      margin-bottom: 2.5rem;
    }

    @media only screen and (max-width: $bp-tiny) {
      margin-bottom: 1rem;
    }
  }
  &__heading {
  }
  &__date {
  }

  //Project Count Part
  &__count {
    &-bar {
      margin-bottom: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $bp-large) {
      }

      @media screen and (max-width: $bp-smallest) {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      @media only screen and (max-width: $bp-tiny) {
        flex-direction: row;
      }
    }

    //gap between list item
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 4rem;

      @media screen and (max-width: $bp-large) {
        gap: 3rem;
      }

      @media screen and (max-width: $bp-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        column-gap: 4rem;
      }

      @media screen and (max-width: $bp-smallest) {
        display: flex;
        gap: 1.8rem;

        align-self: flex-start;
      }

      @media only screen and (max-width: $bp-tiny) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.8rem;
        row-gap: 1rem;
      }
    }

    &-item {
      position: relative;
      @media screen and (max-width: $bp-medium) {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      @media screen and (max-width: $bp-smallest) {
        gap: 0.5rem;
      }

      @media screen and (max-width: $bp-tiny) {
        gap: 1rem;
      }
      @mixin circle {
        content: "";
        height: 0.6rem;
        width: 0.6rem;
        background-color: $color-white;
        border: 1px solid $color-font-light;
        border-radius: 50%;

        position: absolute;
        right: -2rem;
        bottom: 1.2rem;
        transform: translate(50%, 50%);
      }

      &:not(:last-child) {
        &::after {
          @include circle;

          @media screen and (max-width: $bp-large) {
            right: -1.5rem;
            bottom: 1rem;
          }
          @media screen and (max-width: $bp-smallest) {
            content: "";
            right: -0.9rem;
            bottom: 1.3rem;
          }
          @media screen and (max-width: $bp-medium) {
            content: none;
          }

          @media screen and (max-width: $bp-smaller) {
            content: "";
            right: -0.9rem;
            bottom: 1.5rem;
          }

          @media screen and (max-width: $bp-small) {
            // content: none;

            right: -0.9rem;
            bottom: 1.5rem;
          }

          @media screen and (max-width: $bp-tiny) {
            content: none;
          }
        }
      }
    }

    &-number {
    }
    &-text {
    }
  }
  &__icons {
    align-self: start;
    display: flex;
    gap: 2rem;

    @media screen and (max-width: $bp-smallest) {
      gap: 1rem;
      align-self: flex-end;
    }
    @media only screen and (max-width: $bp-tiny) {
      align-self: center;
    }
  }
  &__icon {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    color: $color-black;
  }

  //Project Card Section
  &__cards {
    display: grid;
    background-color: $color-white;

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
    grid-column: main-start / main-end;
    grid-row: 4 / 5;
    overflow-y: scroll;
    padding: 2rem 5rem 5rem 5rem;

    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      background-color: $color-bodybackground;
    }

    @media screen and (max-width: $bp-large) {
      gap: 4rem;
    }

    @media screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(1, minmax(25rem, 1fr));
      justify-content: center;
    }
    @media screen and (max-width: $bp-small) {
      padding: 4rem 6rem;

      grid-column: nav-start / main-end;
      margin-left: 2rem;
    }

    @media screen and (max-width: $bp-smallest) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    @media screen and (max-width: $bp-smallest) {
      grid-column: nav-start / aside-end;
      overflow-y: visible;
      margin-left: 0;
      margin: 0 1rem 5rem 1rem;
    }
    @media screen and (max-width: $bp-tiny) {
      margin: 0 1rem 5rem 1rem;
    }
  }
}
